<html>
<head>
    <style>
        body
        {
            font-family: myriad web pro,arial,sans-serif;
            font-size: 12px;
        }
        .pgTi
        {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <p class="pgTi">
        <%= LOC "$$$/AgWPG/Templates/HTML/Title=Lightroom HTML Gallery" %></p>
    <p>
        <%= LOC "$$$/AgWPG/Templates/HTML/Description=This HTML-driven web photo gallery is provided by Adobe with the first release of Lightroom^T.  Features include:" %></p>
    <ul>
        <li>
            <%= LOC "$$$/AgWPG/Templates/HTML/Description2=Text Labeling" %></li>
        <li>
            <%= LOC "$$$/AgWPG/Templates/HTML/Description3=Identity Plate Display" %></li>
        <li>
            <%= LOC "$$$/AgWPG/Templates/HTML/Description4=Layout and Color Controls" %></li>
        <li>
            <%= LOC "$$$/AgWPG/Templates/HTML/Description5=Two Viewing Levels" %></li>
    </ul>
</body>
</html>
