<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"
xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
<head>
    <% --[[ HTML page metadata and stylesheets ]] %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Keywords" content="photography,software,photos,digital darkroom,gallery,image,photographer,adobe,photoshop,lightroom,$model.metadata.additionalKeywords.value" />
    <meta name="Description" content="<%= model.alamydata.title[image.imageID]%>" />
    <!-- facebook metadata section start -->
    <meta property="og:title" content="<%= model.alamydata.title[image.imageID]%>" />
    <meta property="og:description" content="<%= model.alamydata.title[image.imageID]%>" />
    <meta property="og:image" content="http://www.marine-life-photos.com/Marine_Life/bin/images/thumb/<%= image.exportFilename %>.jpg" />
    <meta name="medium" content="image" />
    <meta property="og:locality" content="<%= model.locations[image.imageID]%>" />
    <meta property="og:country-name" content="<%= model.countries[image.imageID]%>" />
    <meta property="og:email" content="marine.life.photos@gmail.com" />
    <meta property="og:type" content="website" />
    <!-- facebook metadata section end -->
    <title>$model.metadata.siteTitle.value</title>
    <link rel="stylesheet" type="text/css" media="screen" title="Custom Settings" href="$theRoot/CSS/master.css" />
    <link rel="shortcut icon" href="/Img/Icons/icn32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon" href="/Img/Icons/icn128.png" sizes="128x128" type="image/png" />
</head>
<body>
    <!-- Start My Stuff -->
    <table id="header" width="100%">
        <tr>
            <td align="left">
                Stock photos by Ernest W. Zaslavsky
            </td>
            <td align="right">
                <a href="http://www.alamy.com/stock-photography/DEF513C2-F149-471A-AC2F-C3C034F1A60A/Ernest+W%2E+Zaslavsky.html">
                    <img src="http://www.alamy.com/images/Logos/alamy-LM-25.gif" alt="Stock photos by Ernest+W%2E+Zaslavsky at Alamy"
                        title="Stock photos by Ernest W. Zaslavsky at Alamy" border="0" /></a>
            </td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td align="center" colspan="2">
                <script type="text/javascript"><!--
                    google_ad_client = "pub-7829655030899932";
                    /* Armoured */
                    google_ad_slot = "1769695826";
                    google_ad_width = 728;
                    google_ad_height = 15;
//-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </td>
        </tr>
    </table>
    <!-- End My Stuff -->
